<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBe-vVUjg9aPi9tX5aTBCOxaithahk2Cvc</string>
	<key>GCM_SENDER_ID</key>
	<string>1087867453154</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appProject</string>
	<key>PROJECT_ID</key>
	<string>fir-flutter-9c67e</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-flutter-9c67e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1087867453154:ios:68ee7e97c9f2802d5ca8bb</string>
</dict>
</plist>